<link rel="stylesheet" href="content.css">
<div class="inner-content-div" data-page="about">
    About heyyyyyyyyyyyyyyy
</div>
<script src="javascript/content.js"></script>
<script src="javascript/general.js"></script> 
