<link rel="stylesheet" href="content.css">
<div class="inner-content-div" data-page="contact">
    Contact heyyyyyyyyyyyyyyy
</div>
<script src="javascript/content.js"></script>
<script src="javascript/general.js"></script> 